/*****************************************************************************/
/*
/* fourteenbrokenbowls
/*
/*****************************************************************************/


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.bowl-large {
  width: 640px;
}

.bowl-small {
  width: 218px;
  padding: 5px 0
}

body, #search input  {
  font-family: courier new,monospace
}

body  {
  /*color: #999999;*/
  color:  #202020;
  background-color: #ffffff;
  font-size: 14px;
  font-family: courier new,monospace
}

.container { 
	position: relative; 
	width: 960px; 
	margin: 0 auto; 
	padding: 0; 
}

a  {
	/*color: #708090*/
  color: #101010;
	font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: 14px;
}


blockquote, #search input, .the-border, #foot-nav  {
  border-color: #DDDDDD;
  border-width: 1px;
  border-style: solid
}


#top {
	padding: 5px 0;
	margin: 5px;
  border-bottom: 1px #DDDDDD solid;

}


.post {
	width: 218px;
  mid-height: 24px;
  margin: 5px;
  padding: 5px
}

.text .title, .the-quote, .the-link a, .chat .title, .asked  {
  color: #708090;
  font-family: courier new,monospace
}


#index .meta, .caption-outer  {
  background-color: #ffffff
}

#index .meta a, .caption-inner  {
  color: #708090
}



