/*****************************************************************************/
/*
/* fourteenbrokenbowls
/*
/*****************************************************************************/


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.bowl-large {
  width: 560px;
}

.bowl-small {
  width: 218px;
  padding: 5px 0;
  
}

body, #search input  {
  /* font-family: courier new,monospace */
  font-family: 'Cousine', ;
}

body  {
  /*color: #999999;*/
  color:  #202020;
  background-color: #ffffff;
  font-size: 13px;
  /* font-family: courier new,monospace */
  font-family: 'Cousine', ;
}

.container { 
	position: relative; 
	width: 960px; 
	margin: 0 auto; 
	padding: 0; 
}

a  {
	/*color: #708090*/
  color: #101010;
	font-weight: bold;
}

.post a  {
	/*color: #708090*/
  color: #101010;
	font-weight: normal;
	display:inline;
}


.header h1 {
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 0;
}

.header p {
	margin-top: 0	
}

h2 {
  color:  #000000;
  font-weight: bold;
  font-size: 13px;
}


blockquote, #search input, .the-border, #foot-nav  {
  border-color: #DDDDDD;
  border-width: 1px;
  border-style: solid
}


#top {
	padding: 5px 0;
	margin: 5px;
  border-bottom: 1px #DDDDDD solid;

}

.footer {
	padding: 5px 0;
	margin: 5px;
  border-top: 1px #DDDDDD solid;
  

}


.post {

  background-color: #eee;
	width: 218px;
  mid-height: 24px;
  margin: 5px;
  padding: 5px
}

.post a {
	text-decoration: none;

}

.post h2 {
	-webkit-margin-before: 0em;
  -webkit-margin-after: 0.4em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.text .title, .the-quote, .the-link a, .chat .title, .asked  {
  color: #708090;
  /* font-family: courier new,monospace */
  font-family: 'Cousine', ;
}
}


#index .meta, .caption-outer  {
  background-color: #ffffff
}

#index .meta a, .caption-inner  {
  color: #708090
}


