---
layout: homepage
title: fourteen broken bowls
other: I was here just now. and then again...
---

    {% for post in site.posts %}
      <div class="work-block one-third.column post the-border">
        {% if post.bowl contains 'jpg' %}
          {{ post.title }} <br/>
          <a href="{{ post.url }}" >
            <img src="{{post.bowl}}" class="bowl-small" alt="{{ post.title }}"/>

          </a>
        {% else %}
          {{ post.content }}
        {% endif %}
      </div>
    {% endfor %}
