<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width">
	
	<!-- syntax highlighting CSS -->
	<link rel="stylesheet" href="/css/syntax.css">
	<link href='http://fonts.googleapis.com/css?family=Cousine:400,700' rel='stylesheet' type='text/css'>
	
	<!-- Custom CSS -->
	<!-- 
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/skeleton.css">
	-->        
	<link rel="stylesheet" href="/css/fourteenbrokenbowls.css">
	<link type="text/css" href="/skin/blue.monday/jplayer.blue.monday.css" rel="stylesheet" />
	<link rel="shortcut icon" href="/assets/favicon.ico" >
	
	<script type="text/javascript" src="/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/jquery.jplayer.pjt.0.0.1.js"></script>
	<script type="text/javascript" src="/jquery.isotope.min.js"></script>

	<script type="text/javascript">
	    $(document).ready(function(){
	      $("#jquery_jplayer_1").jPlayer({
	        ready: function () {
	          $(this).jPlayer("setMedia", {
	            m4a: "/assets/bowl-3-break.m4a"
	          });
	        },
	        swfPath: "/",
	        supplied: "m4a"
	      });
	    });

		function selectSound(evt){
			var file = evt.id || "";
			console.log("selectSound: " + file);
			$("#jquery_jplayer_1").jPlayer("setMedia", {
	            m4a: file
         	});	
		}
		

    </script>

	</head>
    <body class="">
        <div class="container">
          <div id="top" class="header">
            <p class="title"><a href="/">{{ site.name }}</a> / <a class="extra" href="/request">Request Sample Library</a> / <a class="extra" href="/">Extras</a></p>
            <h1>The John Bauer Sound Sample Library</h1>
            <p>Are you a music producer or musician looking for new inspiration?</p>
          </div>

          <div class="">
            {{content}}
          </div>
          
          <div class="footer">
            <div class="contact">
              <p>
                created by RetrosoniX<br />
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://www.facebook.com/retrosonix">facebook.com/RetrosoniX</a><br />
				<a href="https://soundcloud.com/rtrsnx">soundcloud.com/RetrosoniX</a><br />                
              </p>
            </div>
          </div>
        </div>
        <script>
          var $container = $('.content-body');

          $container.imagesLoaded( function(){
            $container.isotope({
                itemSelector : '.work-block',
                layoutMode : 'masonry',
                masonry: {
                 columnWidth: 240
                }
            });
          });
        </script>
        
        
    </body>
</html>
